html, body 
  font-family: PingFang SC,STHeitiSC-Light,Helvetica-Light,arial,sans-serif
  color: #505458
  min-width: 768px
  height: 100%
  background-color: #fefefe
html
  font-size: 100px
strong
  font-weight: 700
.ivu-btn span
  font-size .16rem
.personTable
  th
   font-size .18rem
   .ivu-table-cell
    overflow visible
  .ivu-table-tbody .ivu-table-row .ivu-table-column-center .ivu-table-cell
    overflow visible
    span
      font-size .16rem

.ivu-steps .ivu-steps-title
  font-size .22rem
.ivu-form-item-label, .ivu-radio-wrapper
  font-size .16rem !important
